.contanier {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-tree {
    flex: none;
    width: 200px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 18px 0 #d4dee6;
    overflow-y: scroll;
}
.right-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.web-title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #3d3d3d;
    margin: 20px 0;
}
.web-title img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.tree-item {
    display: flex;
    height: 48px;
    font-size: 14px;
    align-items: center;
    font-family: Helvetica Neue,PingFang SC,Microsoft YaHei;
    cursor: pointer;
    color: #909090;
    font-weight: 300;
}
.tree-item img {
    width: 24px;
    height: 24px;
    margin-left: 30px;
}
.tree-item span {
    margin-left: 8px;
}
.tree-item:hover {
    color: #00a4ec!important;
}
.active-item {
    background-color: #f1f5f8;
    color: #3d3d3d;
    font-weight: 400;
}

.right-content .web-item {
    width: 92%;
    margin: 15px auto;
    display: flex;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 18px 2px #d4dee6;
}
.web-item:hover {
    transform: scale(1.03);
}
.web-item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    flex: none;
}
.web-item .web-content {
    width: 100%;
    margin-left: 10px;
}
.web-content h1 {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 400;
}
.web-content span {
    color: #909090;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.web-item .web-btn {
    flex: none;
    width: 80px;
    margin-left: 10px;
    padding-top: 4px;
}
.web-btn div {
    border: 1px solid #d4dee6;
    color: #909090;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    margin: 6px 0;
    cursor: pointer;
}
.web-btn div:hover {
    background-color: #909090;
    color: #fff;
    border: 1px solid #909090;
}

/* .shadow-color-0 {
    box-shadow: 0 0 18px 1px #FFEA3E;
}
.shadow-color-1 {
    box-shadow: 0 0 18px 2px #6DC083;
}
.shadow-color-2 {
    box-shadow: 0 0 18px 2px #EC4D9A;
}
.shadow-color-3 {
    box-shadow: 0 0 18px 2px #0080C3;
}
.shadow-color-4 {
    box-shadow: 0 0 18px 2px #A14C9A;
} */
.swiper-shade {
    opacity: 1;
    display: block;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: #222;
    transition: opacity 1s;
}
.shade-close {
    height: 50px;
}
.shade-close img {
    width: 30px;
    height: 30px;
    float: right;
    margin: 10px 15px 10px 0;
    cursor: pointer;
}
.iframe-close {
    background-color: #fff;
    border-bottom: 1px solid #909090;
}
.iframe-box {
    display: none;
    background-color: #fff;
}
.loading {
    background-color: #fff;
    height: 100%;
    padding-top: 100px;
    text-align: center;
}
.swiper-container {
    width: 100%;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 540px;
    height: 380px;
}

.opacity0 {
    opacity: 0;
    display: block;
}